.cardCont {
  display: grid;
  grid-gap: 0.5rem;
  margin: 0.5rem;
  grid-template-columns: repeat(auto-fill, 170px);
}

.scoreboard {
  padding: 10px;
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;

  .score {
    width: 180px;
    height: 160px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
